@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

html,
body,
#react-root {
  height: 100%;

}

body {
  /* import background image from my public/images folder */
  background-image: url("./cssImages/background_tile.jpg");

  /* tile it across the page */
  background-repeat: repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  margin: 0px;
  overflow-x:hidden;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.myButton {
  /* a dark gray button with rounded edges and white text in the font i've been using */
  background-color: rgb(89, 99, 107);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
}
.myButtonBlue {
  /* a dark gray button with rounded edges and white text in the font i've been using */
  background-color: rgb(94, 191, 221);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
}
/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #78dddb;
  color: #000000;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
} */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  /* size 20px */
  font-size: 7px;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: rgb(89, 99, 107);
  border-radius: 3px;
  color:white;
  /* box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4); */
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.loginPageContainer {
  background-image: url("./cssImages/solid-color-image.jpeg");

  /* make fill the whole screen */
  background-size: cover;

}

h1.totalCostClass{
    font-size:24px;
}

input.checkboxClass{
    width: 30px;
    height: 30px; 
    display: flex;
  justify-content: space-between;
  align-items: center;
  /* when checked, turn orange */
}

label.checkboxLabel{
    font-size: 15px;
/* raise the text */
    display: flex;
  align-items: center;
  /* justify the text */
  
}

.checkboxLabelDiv{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
}

.notesDiv{
  margin-left: 42px;
}

textarea{
margin-left: 5px;
/* make input text match the font */
font-family: "Lexend Deca", sans-serif;
padding:12px;
}

.radioButtonClass{
   border: 0px;
    width: 100%;
    height: 50px; 
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 20px;
}


/* .checkboxClass input:checked {
  background-color: #a7a7a7;
} */

.nav-title{
  margin:auto;
}

.jobNumberClass{
  margin-left: 19px;
  margin-bottom:-40px;
  margin-top:-20px;
}



li{
  /* use this font */
  font-family: "Lexend Deca", sans-serif;
  margin:auto;
}

.jobIntro h3{
  font-family: "Lexend Deca", sans-serif;
  margin-left:15px;
}
.clientDetails h3{
  font-family: "Lexend Deca", sans-serif;
  margin-left:15px;
}

.scopeofwork h3{
  font-family: "Lexend Deca", sans-serif;
  margin-left:15px;
}

.uppercase {
  text-transform: uppercase;
}

.loginClass input{
width:95%;
margin-left: 0px;
}

.loginClass label{
  margin: auto;
}

.loginClass button{
  margin-left: 85px;
}

#loginButton {
  margin-left: 0px;
  width: 100%;
}

.registerFormClass input{
width:91%;
margin-left: -10px;
}

#registerButton {
  width: 96%;
  margin-left: 5px;
}

form.formPanel{
  /* fill the screen */
  width: 100%;
}

.fakeFormPanel{
  background-color: rgb(89, 99, 107);
  height:237px;
}

.fakeFormPanel label{
  color:rgb(89, 99, 107)
}

#logoutID{
  margin-left: 165px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(89, 99, 107);
  color:white;
  font-family: "Lexend Deca", sans-serif;
  border: 0px;


}