/* make a two inch header but in pixels which is gray with white text */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
.nav-title {
  
  font-family: "Lexend Deca", sans-serif;

  background-color: rgb(89, 99, 107);

  border-bottom: 1px solid #e5e5e5;
  padding: 0.5em;
  font-size: 50px;
  font-weight: bold;
  text-align: left;

  color: #fff;
  height: 2em;
  line-height: 2em;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -20px;
}

.nav-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 35px;
  font-weight: bold;
}