
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

.dropdownSelector {
  font-family: "Lexend Deca", sans-serif;
  

}

h2{
    font-family: "Lexend Deca", sans-serif;
}

select{
    font-family: "Lexend Deca", sans-serif;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 9px;
    width: 96%;
    margin-left: 5px;
    font-weight: bold;
    font-size:12px;
}

input {
    font-family: "Lexend Deca", sans-serif;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 9px;
    width: 90%;
}

label{

    font-weight: bold;
    font-size: 12px;
}

p{
    font-weight: bold;
    margin-left: 18px;
}


input[type=date] {
    width: 80%;
    margin-left:23px;
}