/* import Lexand */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

.dropdownSelector {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

label.dropdownSelector {
  font-weight: bold;
}

h2 {
  font-family: "Lexend Deca", sans-serif;
}

select {
  font-family: "Lexend Deca", sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 96%;
}

input {
  font-family: "Lexend Deca", sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 9px;
  width: 90%;
}
/* when you click in, outline the input field in cyan */
input:focus {
  outline: none;
  border: 1px solid rgb(94, 191, 221);
}

label {
  margin-left: 15px;
}

select.addClientFirst {
  font-family: "Lexend Deca", sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 86%;
  margin-left: 24px;
}

.checkboxLabelClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}